
* {
  font-family: 'Francois One', sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  padding: 50px;
}
.voltas {
  font-size: 34px;  
  font-weight: bold;
}

.voltas span {
  font-size: 68px;
}

button {
  background-color: #f9f9f9;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 18px;
  padding: 20px;
  margin: 8px;
}

.tempo span{
  font-weight: bold;
  font-size: 70px;
}

.btn-p, .btn-g  {
  width: 15%;
  padding: 15px 0;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;  
}

.btn-p:hover {
  background-color: red;
}

.btn-g:hover {
  background-color: green;
}

.btn-iniciar, .btn-reiniciar  {
  width: 25%;
  padding: 15px 0;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;  
}